<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <script src="/client/classes/Post-class.js"></script>
    <script src="/client/buildPosts.js"></script>

    <title>Blog</title>
</head>

<body>
    <header class="pageHeader">
        <h1>Welcome to Blogger!</h1>
    </header>

    <div id="posts">
        <%include partials/posts.ejs%>
    </div>
    <form name="makeAPost" id="makeAPost" action="/" method="POST" class="postForm">
        <textarea name="postData" rows="5" colors="50" class="postFormInput" /></textarea>
        <input type="submit" name="submit" value="Submit" />
    </form>
</body>

</html>