<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register | Blogger</title>
</head>

<body>
    <h1>Register Here</h1>
    <form name="register" action="/users/register" enctype="multipart/form-data" method="POST">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" name="submit" value="Login" />
    </form>
</body>

</html>